[submodule "components/cjson"]
	path = components/cjson
	url = https://github.com/maximkulkin/esp-cjson.git
[submodule "components/wolfssl"]
	path = components/wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl.git
[submodule "components/homekit"]
	path = components/homekit
	url = https://github.com/maximkulkin/esp-homekit.git
[submodule "components/wifi-config"]
	path = components/wifi-config
	url = https://github.com/maximkulkin/esp-wifi-config.git
[submodule "components/button"]
	path = components/button
	url = https://github.com/maximkulkin/esp-button.git
[submodule "components/led-status"]
	path = components/led-status
	url = https://github.com/maximkulkin/esp-led-status.git
